name: simple_chatbot_flutter
description: A Flutter client for the simple-chatbot Genkit sample.
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  genkit: ^0.8.0
  http: ^1.2.1
  flutter_markdown: ^0.7.1
  uuid: ^4.4.0
  json_annotation: ^4.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
